body {
  background-color: #121212;
  color: #fff;
  
}


.sidebar  {
  height: 100vh;
  background-color: #1f1f1f;
  
}

.card {
  background-color: #292929;
  border: none;
}

.card-title, .card-text {
  color: #fff;
}

.nav-link {
  color: #bbb;
}

.nav-link:hover {
  color: #fff;
}

.badge-success {
  background-color: #28a745;
}

/* .badge-secondary {
  background-color: #6c757d;
}

.button-group .btn {
  margin-right: 0.5rem;
}

.button-group .btn:last-child {
  margin-right: 0;
} */