@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
}
.orange {
    background-color: #FB5607;
}
.grey {
    background-color: #221E1C;
}
.date-input::-webkit-calendar-picker-indicator {
    color: white;
}
input {
    color-scheme: dark;
  }